version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: gwchallenge_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gwchallenge
    ports:
      - '5432:5432'
    volumes:
      - ./database/migrations:/docker-entrypoint-initdb.d
  backend:
    build: ./backend
    ports:
      - '8080:8080'
    depends_on:
      - postgres
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
